<div class="game-info">
    <h2><%= @game.name %></h2>
</div>
<div class="community-list">
    <h2>Communities</h2>
    <table>
        <% @communities.each do |comm| %>
            <tr>
                <td><%= comm.name %></td>
                <td><%= comm.integer %></td>
                <td><%= comm.text %></td>
            </tr>
        <% end %>
    </table>
</div>
